.mat-column-duration_ms {
  text-align: right;
}
.mat-column-index {
  border-right: 1px solid white;
  padding-right: 24px;
   width: 32px;
}
.mat-column-name {
 padding-left: 16px;
}
.mat-header-index{
  border: 0;
}
table.mat-table {
  display: table;
  width: 100%;
}