<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-lg-3">
      <div class="filterContainer" *ngIf="selectOptions">
        <mat-form-field class="mat-filter" appearance="outline">
          <mat-label>{{ 'RECEIPT.PERIOD' | translate }}</mat-label>
          <mat-select (selectionChange)="updateSearch()" [(value)]="selectedOption">
            <mat-option></mat-option>
            <mat-option [value]="option" *ngFor="let option of selectOptions">{{ option.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="mat-filter" appearance="outline">
          <mat-label>{{ 'RECEIPT.TYPE' | translate }}</mat-label>
          <mat-select (selectionChange)="updateSearch()" [(value)]="selectedSearch" [disabled]="!receipt">
            <mat-option></mat-option>
            <mat-option [value]="option" *ngFor="let option of searchList">{{ option.viewValue }}</mat-option>
          </mat-select>
        </mat-form-field>
        <div style="margin: auto;">
          <button mat-raised-button *ngIf="receipt" class="mat-filter" id="download-button" color="primary" (click)="downloadImage()">{{ 'RECEIPT.DOWNLOAD' |
            translate }}</button>
          <button mat-raised-button *ngIf="!receipt" class="mat-filter" id="download-button" color="primary" (click)="createList()">{{ 'RECEIPT.CREATE' |
            translate }}</button>
          <button mat-raised-button class="mat-filter" color="primary" (click)="changeView()">Cambiar</button>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-8 col-lg-6" [hidden]="!receipt">
      <div class="receiptContainerDiv">
        <div id="receipt">
          <div id="receiptContainer" class="receiptContainer">
            <h2 class="logo">
              Stats4Spotify
            </h2>
            <p class="period">
              <b>{{period}}</b>
            </p>
            <p class="date">
              {{ 'RECEIPT.ORDER' | translate }}#0001 - {{date | date:'dd/MM/yy'}}
            </p>
            <p class="date" *ngIf="selectedSearch">
              {{ 'RECEIPT.MOST_LISTENED' | translate:'{param:"'+ selectedSearch.viewValue +'",
              otherparam:"'+username+'"}'}}
            </p>
            <table class="tracks">
              <thead>
                <tr>
                  <td class="begin">
                    {{ 'RECEIPT.TOP' | translate }}
                  </td>
                  <td>
                    <span *ngIf="isArtist">
                      {{ 'RECEIPT.NAME' | translate }}
                    </span>
                    <span *ngIf="!isArtist">
                      {{ 'RECEIPT.SONG' | translate }}
                    </span>
                  </td>
                  <td class="length">
                    <span *ngIf="isArtist">

                    </span>
                    <span *ngIf="!isArtist">
                      {{ 'RECEIPT.TIME' | translate }}
                    </span>
                  </td>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items; let i = index">
                  <td class="begin">
                    {{i+1}}
                  </td>
                  <td class="name">
                    <span *ngIf="item.type == 'artist'">
                      {{item.name | characterSanitizer}}
                    </span>
                    <span *ngIf="item.type != 'artist'">
                      {{item.name | characterSanitizer}}
                      <span *ngFor="let artist of item.artists.slice(0,3)">
                        - {{artist.name | characterSanitizer}}
                      </span>
                    </span>
                  </td>
                  <td *ngIf="item.type != 'artist'" style="text-align: right;">
                    <span class="length">
                      {{item.duration_ms | date:'mm:ss'}}
                    </span>
                  </td>
                </tr>
                <tr class="total-counts">
                  <td class="begin" colspan="2">
                    {{ 'RECEIPT.ITEM_COUNT' | translate }}
                  </td>
                  <td class="length">
                    10
                  </td>
                </tr>
                <tr class="total-counts-end">
                  <td class="begin" colspan="2" *ngIf="!isArtist">
                    {{ 'RECEIPT.TOTAL' | translate }}:
                  </td>
                  <td class="length" *ngIf="!isArtist">
                    {{totalTime | date:'mm:ss'}}
                  </td>
                </tr>
              </tbody>
            </table>
            <p class="date">
              {{ 'RECEIPT.MEMBERSHIP' | translate }}: {{membership}}
            </p>
            <p class="date">
              {{ 'RECEIPT.CARDHOLDER' | translate }}: {{username}}
            </p>
            <div class="thanks">
              <p>
                {{ 'RECEIPT.THANKS' | translate }}
                <span class="website">
                  {{url}}
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Tabla de top 50-->
    <div class="col-sm-12 col-md-8 col-lg-8" [hidden]="receipt">
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

          <!-- Index Column -->
          <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef> Index </th>
            <td mat-cell *matCellDef="let element; let i = index">
              {{element.index}}
            </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Artist Column -->
          <ng-container matColumnDef="artist">
            <th mat-header-cell *matHeaderCellDef> Artista </th>
            <td mat-cell *matCellDef="let element">
              {{element.artists[0]?.name}} <span *ngIf="element.artists[1]"> & </span> {{element.artists[1]?.name}}
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onRowClicked(row)"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons aria-label="Select page of tracks">
        </mat-paginator>
      </div>
    </div>
    <div class="col-sm-0 col-md-0 col-lg-1">
    </div>
  </div>
</div>
<div class="loading-spinner" *ngIf="loading">
  <img src="assets/Spinner-1s-200px.svg" style="margin: auto; display: block;">
</div>