fa-icon{
    color: white;
    vertical-align: top;
    margin-left: 2%;
    width: 100%;
}

.graphTittle{
    color: white;
    text-align: center;
    width: 100%;
    display: block;
    /* display: ruby-text-container; */
  }

/* @media (max-width:768px) {
    .graphContainer{
        border-bottom: 1px solid white;
    }
  } */
/* canvas{
    background-color: whitesmoke;
} */

.tittle{
    font-size: larger;
    font-weight: 500;
    line-height: 1.2;
}

.modal-body{
    color:white
}
span.modal-title{
    font-size: larger;
    font-weight: 500;
    line-height: 1.2;
    color: white;
}

@font-face {
  font-family: Open-Sans;
  src: url(../../assets/OpenSans/OpenSans-Bold.ttf) format("opentype");
}

* {
  font-family: Open-Sans, Helvetica, Arial, sans-serif;
}