fa-icon{
    color: black;
    vertical-align: top;
    margin-left: 2%;
    width: 100%;
}

.graphTittle{
    color: black;
    text-align: center;
    width: 100%;
    display: block;
    /* display: ruby-text-container; */
  }

@media (max-width:768px) {
    .graphContainer{
        border-bottom: 1px solid black;
    }
  }
/* canvas{
    background-color: whitesmoke;
} */

.tittle{
    font-size: larger;
    font-weight: 500;
    line-height: 1.2;
}

.modal-body{
    color:black
}
span.modal-title{
    font-size: larger;
    font-weight: 500;
    line-height: 1.2;
    color: black;
}