.white-link {
  color: #FFF;
  text-decoration: underline;
}

.white-link:hover {
  color: #EFEFEF;
}

@media (max-width: 767px) {
  .btn-link-left {
    text-align: left;
  }
}

a.showOnFocus {
  height: 1px;
  width: 1px;
  overflow: hidden;
  white-space: nowrap;
  display: block;
}

a.showOnFocus:focus {
  display: inline;
  line-height: 3;
}

.index-segmented-header {
  background-color: #000;
}

.album-results {
  -ms-overflow-style: none;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow: -moz-scrollbars-none;
}

.album-results ::-webkit-scrollbar,
.album-results ::-webkit-scrollbar-button {
  width: 0px;
  background: transparent;
}

.album-results img {
  width: 100%;
  height: 100%;
}

.album-results .box {
  position: relative;
  width: 100%;
}

.album-results .box:before {
  content: "";
  display: block;
  padding-top: 100%;
}

.album-results .content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.album-results ul {
  padding: 0;
  margin: 0;
  width: 100%;
}

@media (max-width: 767px) {
  .album-results ul {
    overflow-x: auto;
  }
}

@media (min-width: 768px) {
  .album-results ul {
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: -webkit-box;
    display: flex;
    -ms-flex-flow: row wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-flow: row wrap;
    -moz-align-items: center;
    -ms-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }
}

.album-results li {
  list-style-type: none;
  margin-top: 4%;
}

@media (max-width: 767px) {
  .album-results li {
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 55%;
    min-height: 1;
    position: relative;
    padding-top: 6px;
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .album-results li {
    padding: 8px;
  }
}

.album-results h4 {
  color: #919496;
}

@media (max-width: 1199px) {
  .album-results h4 {
    font-size: 16px;
  }
}

.album-results figure {
  width: 100%;
  height: 100%;
  position: relative;
  margin: auto;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 16px -2px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

@media (min-width: 768px) {

  .album-results .col-md-4:nth-child(4),
  .album-results .col-sm-4:nth-child(4) {
    clear: both;
  }
}

.album-results .album-play-button h2 {
  font-size: 18px;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .album-results .album-play-button h2 {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .album-results .album-play-button h2 {
    font-size: 32px;
  }
}

.album-results .album-play-icon svg {
  width: 25px;
  height: 30px;
  position: relative;
}

.album-results .album-play-icon h2 {
  font-size: 16px;
  font-weight: 400;
}

.album-results .album-play-icon h4 {
  font-size: 14px;
}

.album-results .album-no-overlay h2,
.album-results .scroll h2,
.album-results .album-no-overlay h4,
.album-results .scroll h4 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0;
  cursor: pointer;
}

.album-results .album-no-overlay h2,
.album-results .scroll h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 24px;
}

.album-results .album-no-overlay h4,
.album-results .scroll h4 {
  font-size: 16px;
}

.album-results .img-responsive {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
}

.album-results figure .content-overlay {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
}

.album-results li:hover .content-overlay,
.album-results li:focus-within .content-overlay {
  opacity: 1;
}

.album-results li:hover .content-details,
.album-results li:focus-within .content-details {
  top: 50%;
  left: 50%;
  opacity: 1;
}

.album-results li:hover .album-no-overlay h2,
.album-results li:focus-within .album-no-overlay h2,
.album-results .scroll h2 {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #919496;
}

.album-results li:hover .album-no-overlay h4,
.album-results li:focus-within .album-no-overlay h4,
.album-results .scroll h4 {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  color: #C1C3C6;
}

.album-results .content-details {
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
}

a {
  color: #1DB954;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #1ED760;
  text-decoration: none;
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
  display: block;
  max-width: 100%;
  height: auto;
}

.btn-lg,
.btn-group-lg>.btn {
  font-size: 16px;
  line-height: 1;
  border-radius: 500px;
  padding: 19px 56px 21px;
}

.btn-sm,
.btn-xs,
.btn-group-xs>.btn,
.btn-group-sm>.btn,
.navbar .navbar-nav .navbar-btn,
.navbar-form .btn {
  font-size: 12px;
  line-height: 1;
  border-radius: 500px;
  padding: 10px 32px;
}

.display-2,
.jumbotron h1 {
  font-size: 48px;
  font-weight: 900;
  letter-spacing: -0.04em;
  line-height: 1.15;
}

@media (min-width: 768px) {

  .display-2,
  .jumbotron h1 {
    font-size: 64px;
  }
}

@media (min-width: 992px) {

  .display-2,
  .jumbotron h1 {
    font-size: 80px;
  }
}

small,
.small {
  font-size: 9px;
}

@media (min-width: 768px) {

  small,
  .small {
    font-size: 12px;
  }
}

img {
  border: 0;
}

.btn,
.navbar .navbar-nav .navbar-btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 4px;
  padding: 7px 12px 5px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.btn:hover,
.btn:focus,
.btn.focus {
  color: #333;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}

// New Styles
.intro {
  text-align: center;
  margin: auto;
}

#segmented-play-now {
  text-align: center;
  margin: auto;
  display: block;
}

@media (max-width: 767px) {
  figcaption {
    // display: none;
  }

}

figcaption {
  text-align: center;
}

.wrapper {
  background-color: #509BF5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c074b2), to(#8ab5e8));
  background-image: linear-gradient(#c074b2, #8ab5e8);
  
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
h2 {
  color: white;
}
.row {
  margin: 0;
}
// .layout {
//     height: 100%;
//     width: 100%;
//     position: absolute;
//     top: 0;
//     left: 0;
//     background-attachment: fixed;
//     background-size: cover;
//     background-repeat: no-repeat;
//     background-color: #509BF5;
//     background-image: -webkit-gradient(linear, left top, left bottom, from(#509BF5), to(#AF2896));
//     background-image: linear-gradient(#509BF5, #AF2896);
// }
