<div class="row">
  <mat-form-field appearance="fill">
    <mat-label>Favorite Food</mat-label>
    <mat-select [(value)]="selectedFood">
      <mat-option></mat-option>
      <mat-option [value]="option.value" *ngFor="let option of foods">{{ option.viewValue }}</mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button (click)="downloadImage()"> PRUEBA </button>
</div>
<div class="container" id="printableHTML" style="background-color: black;">
  <div *ngFor="let element of matriz">
    <div class="row">
      <div *ngFor="let artist of element" class="col-sm-6 col-md-4">
        <img src={{artist.images[0].url}} alt={{artist.name}} class="img-fluid">
        <h1>{{artist.name}}</h1>
      </div>
    </div>
  </div>
</div>

<div id="download">
  <img #canvas>
  <a #downloadLink></a>
</div>
<canvas id="canvas"> </canvas>