<div class="row">
  <div class="col-sm-0 col-md-2">
    <!-- <mat-form-field appearance="fill">
      <mat-label>Favorite Food</mat-label>
      <mat-select [(value)]="selectedFood">
        <mat-option></mat-option>
        <mat-option [value]="option.value" *ngFor="let option of foods">{{ option.viewValue }}</mat-option>
      </mat-select>
    </mat-form-field> 
    <br>
    <button (click)="downloadImage()"> PRUEBA </button>-->
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="container" id="printableHTML" style="background-color: black;">
      <h1 class="artistName">Your most listened artists</h1>
    <div *ngFor="let element of matriz">
      <div class="row">
        <div *ngFor="let artist of element" class="col-sm-6 col-md-4" style="display: inline;">
          <!-- <img src={{artist.images[0].url}} alt={{artist.name}} class="img-fluid"> -->
          <div [style.background-image]="'url(' + artist.images[0].url + ')'" class="image-div" style="background-size: contain !important; "></div>
          <h1 class="artistName">{{artist.name}}</h1>
        </div>
      </div>
    </div>
  </div>
  </div>
  <div id="download">
    <img #canvas>
    <a #downloadLink></a>
  </div>
</div>
<canvas id="canvas"> </canvas>