@font-face {
  font-family: Open-Sans;
  src: url(../../assets/OpenSans/OpenSans-Bold.ttf) format("opentype");
}

* {
  font-family: Open-Sans, Helvetica, Arial, sans-serif;
}
.img-fluid{
  max-width: 100%;
  max-height: 350px;
  max-height: 350px;
  
}

.image-div {
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    width: 350px;
}

.artistName {
  text-align: center;
}