<!-- <div data-spy="scroll" class="row main-container" style="padding-top:2%;padding-bottom:2%">
  <div class="info-container col-sm-12 col-md-2">
    <span style="">Escuchados recientemente</span>
    <br>
    <span style="font-size:large">Sumérgete de nuevo</span>
    <br>
    <span style="font-size: x-large;">Recupera lo que estabas escuchando, justo donde lo dejaste.</span>
    <br>
    <button mat-raised-button color="primary">Accede al reproductor web de Spotify</button>
  </div>
  <div class="portrait-container col-sm-12 col-md-8">
    <div *ngFor="let element of matriz" class="row">
        <div *ngFor="let artist of element" class="col-sm-4 col-md-4">
          <div [style.background-image]="'url(' + artist.images[0].url + ')'" class="image-div"
            style="background-size: contain !important; "></div>
        </div>
    </div>
  </div>
</div> -->

<div class="row flex-row">
  <div class="col-xs-12 col-md-4 hero-intro">
    <small>Escuchados recientemente</small>
    <h1 class="display-2 premium-display-2" style="font-size: 48px;">Sumérgete de nuevo</h1>
    <h3>Recupera lo que estabas escuchando, justo donde lo dejaste.</h3>
    <a id="seg-hp-open-player" class="btn btn-lg btn-green btn-cta" role="button" href="https://open.spotify.com/browse"
      data-tracking="{&quot;category&quot;: &quot;home&quot;, &quot;action&quot;: &quot;play&quot;}">Abrir el reproductor
      web</a>
  </div>
</div>